body {
	display: grid;
	font-family: 'Open Sans', sans-serif;
	grid-template-columns: 20% auto;
	grid-template-rows: 40% auto;
	grid-template-areas: 

	"sidebar idea idea" 
	"sidebar card card";
	height: 100vh;
}

.navBar {
	grid-area: sidebar;
	background-color: #1F1F3D;
}

.idea {
	grid-area: idea;
	background-color: #A9AAD2
}

.box {
	grid-area: card;
	background-color: #EAEAF4;
}

