* {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;

}

body {
	display: grid;
	font-family: 'Open Sans', sans-serif;
	grid-template-columns: 20% auto;
	grid-template-rows: 50% auto;
	grid-template-areas: 

	"sidebar idea idea" 
	"sidebar card card";
	height: 100vh;
}

.navBar {
	display:block;
	grid-area: sidebar;
	background-color: #1F1F3D;
	color:#ffffff;	
}

.navBar_header {
	font-weight: bold;
	font-size: 30px;
	padding: 20px;
}

.navBar_star {
	
}

.navBar_star-title {
	padding:20px;
}

.navBar_star-button {
	width: 85%;
	margin:15px 10px 15px 20px;
	height: 35px;
	color:#ffffff;
	background-color: #5356A4;
	border: 1px #353567;
	font-size: 95%;
	font-weight: 700;

}

.navBar_border {
	background-color: #A9AAD2;
	width: 100%;
	height: 1px;
}

.quality_swill-btn,
.quality_plausible-btn,
.quality_genius-btn {
	width: 100%;
	color: #ffffff;
	height: 30px;
	background-color: #1F1F3D;
	text-align: left;
	font-size: 20px;
	padding: 20px;
	border: 0px;
}

.quality_title {
	font-size: 15px;
	font-weight: 700;
	padding: 20px 20px 5px 20px;
}
.quality_new-btn {
	width: 85%;
	margin: 5px 10px 15px 20px;
	height: 35px;
	color:#ffffff;
	background-color: #5356A4;
	border: 1px #353567;
	font-size: 95%;
	font-weight: 700;
}

.quality_new-title {
	padding: 20px 20px 5px 20px;
	font-size: 15px;
	font-weight: 700;
}

.quality_new-input {
	margin: 5px 10px 15px 20px;
	height: 35px;
	width: 85%;
}

.idea {
	display: flex;
	grid-area: idea;
	background-color: #A9AAD2;
	justify-content: center;
}

.idea_title-name,
.idea_body-title {
	font-size: 20px;
	margin: 10px 0px 3px 0px;
}

.idea_title-input {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #5356A4;
	font-size: 20px;
}

.idea_body-input {
	width: 100%;
	height: 100px;
	margin: 2% 0;
	border-radius: 5px;
	border: 1px solid #5356A4;
	font-size: 20px;
}

.idea_save-btn {
	width: 100%;
	height: 40px;
	margin: 2% 0;
	background-color: #1F1F3D;
	color: #ffffff;
	border-radius: 5px;
	border: 1px solid #5356A4;
	font-size: 20px;
}

.idea_search-input {
	width: 475px;
	height: 40px;
	margin: 2% 0;
	border-radius: 0 5px 5px 0;
	border: 1px solid #5356A4;
	font-size: 15px;
}

.idea_search-icon {
	width: 40px;
	height: 42px;
	background-color: #1F1F3D;
	margin-top: 11px;
	border-radius: 5px 0 0 5px;
	border: 1px solid #5356A4;
	padding: 5px;
}

.idea_search {
	display: flex;
	flex-direction: row;
}

.box {
	grid-area: card;
	background-color: #EAEAF4;
	display: flex;
	flex-wrap: wrap;
	width: 100%;

}
.box_card {
	justify-content: space-between;
	height: 80%;
	margin: 2%;
	width: 29%;
}

.box_card-header {
	background-color: #1F1F3D;
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.box_card-main {
	border-left: 1px solid #1F1F3D;
	border-right: 1px solid #1F1F3D; 
	background-color: #FFFFFF;
	height: 200px;
	padding: 3%;
}

.box_card-title {
	font-weight: 700;
}

.box_card-body {
	font-size: 1em;
}

.box_card-footer {
	background-color: #353567;
	border-bottom: 1px solid #1F1F3D;
	border-left: 1px solid #1F1F3D;
	border-right: 1px solid #1F1F3D;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	padding: .5% 0;
}

.box_card-quality {
	font-weight: 700;
	margin: 0;
}

.box_card-icon {
	height: 10%;
	width: 10%;
}

.hidden {
	display: none;
}

.box_idea-placeholder {
	padding: 10px;
	font-size: 20px;
}